#QBViewButton {
  position: absolute;
  right: 34px;
  height: 31px;
  width: 150px;
  margin: 6px 0;
  font-weight: bold;
  border: 1px solid #2c597f;
  border-radius: 4px;
  background: #336692;
  color: white;
}

#QBViewButton:hover {
  background: #264c6c;
  border-color: #1d3952;
}

#QBViewButton:focus {
  border-color: #0b1721;
  box-shadow: inset 0 0 0 1px #fff;
  outline: 4px solid transparent;
  border-radius: 2px;
}
